@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    /*font-family: Georgia, 'Times New Roman', Times, serif;*/
    font-family: "Merriweather", serif;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(255,128,0,1) 100%);
}

.tel-header {
    background-color: #383837;
    color: #fff;
    width: 100%;
    height: 30px;
    font-size: 20px;
    display: flex;
    justify-content: flex-end;
}

.bi-whatsapp {
    margin-right: 10px;
}

nav.menu-lateral {
    width: 69px;
    height: 100%;
    background-color: #383837;
    padding: 40px 0 40px 1%;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    transition: .4s;
}

nav.menu-lateral.expadir {
    width: 300px;
}

.btn-expandir {
    width: 100%;
    padding-left: 10px;
}

.btn-expandir > i {
    color: #fff;
    font-size: 24px;
    cursor: pointer;
}

ul {
    height: 100%;
    list-style-type: none;
}

ul li.item-menu {
    transition: .2s;
}

ul li.ativo {
    background-color: #171775;
}

ul li.item-menu:hover {
   background-color: #171775;
}

ul li.item-menu a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    padding: 20px 4%;
    display: flex;
    margin-bottom: 30px;
    line-height: 40px;
}

ul li.item-menu a .txt-link {
    margin-left: 40px;
    transition: .4s;
}

nav.menu-lateral.expandir .txt-link {
    margin-left: 40px;
}

ul li.item-menu a .icon > i {
    font-size: 25px;
}

.position-logo {
    margin-left: 69px;
}

#logo-header-01 {
    width: 200px;
}

.slider {
    margin: 0 auto;
    margin-top: 1%;
    width: 800px;
    height: 350px;
    overflow: hidden;
}

.slides {
    width: 400%;
    height: 400px;
    display: flex;
}

.slides input {
    display: none;
}

.slide {
    width: 25%;
    position: relative;
    transition: 2s;
}

.slide img {
    width: 800px;
}

.manual-navigation {
    position: absolute;
    width: 100%;
    margin-top: -40px;
    display: flex;
    justify-content: center;
    display: none;
}

.manual-btn {
    border: 2px solid #000000;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.8s;
}

.manual-btn:not(:last-child) {
    margin-right: 20px;
}

.manual-btn:hover {
    background-color: #000000;
}

#radiol1:checked ~ .first {
    margin-left: 0;
}
#radio2:checked ~ .first {
    margin-left: -25%;
}

#radio3:checked ~ .first {
    margin-left: -50%;
}

.navigation-auto div {
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.navigation-auto {
    position: absolute;
    width: 800px;
    margin-top: 310px;
    display: flex;
    justify-content: center;
}

.navigation-auto div:not(:last-child) {
    margin-right: 40px;
}

.sobre-nos {
    color: #fff;
    margin-top: 30px;
    text-align: center;
    font-size: 20px;
}

.foto-loja {
    width: 400px;
    height: 400px;
    border-radius: 30px;
}

.container-sobre-nos {
    display: flex;
    margin-top: 20px;
    margin-left: 10%;
    margin-right: 10%;
    gap: 20px;
}

.btn-f {
    flex: 1;
    border: 1px solid #000;
}

.text-sobre-nos {
    width: 30%;
    text-align: center;
    border: 1px solid #383837;
    border-radius: 30px;
    background-color: #fff;
    border: 1px solid #000;
    padding: 60px;
}

p {
    letter-spacing: 2px;
}

.marca-trabalho {
    color: #fff;
    margin-top: 30px;
    text-align: center;
    font-size: 20px;
}

.container-marcas {
    background-color: #fff;
    display: flex;
    justify-content: space-evenly;
    padding: 15px;
    margin-top: 15px;
}

.marcas {
    width: 200px;  
    cursor: pointer; 
    border-radius: 50%;
    filter: grayscale(100%);
    transition: .9s;
}

.marcas:hover {
    filter: grayscale(0%);
    transform: scale(1.09);
}

.produtos-que-vendemos > h2 {
    color: #fff;
    margin-top: 30px;
    text-align: center;
    font-size: 25px;
}

.cartaz {
    display: flex;
    justify-content: center;
    padding: 30px;
}

.cartaz-imagem {
    width: 700px;
    border-radius: 5px;
}

footer {
    width: 100%;
    height: 350px;
    background-color: #383837;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px;
}

footer > span {
    color: #fff;
    font-size: 15px;
}

.bi-telephone-forward-fill {
    margin-right: 10px;
}

.bi-envelope-at-fill {
    margin-right: 10px;
}

.logo-footer {
    width: 200px;
    height: 150px;
    margin-top: 15px;
    border-radius: 5px;
}

.footer-joao-web {
    background: rgb(0, 0, 0);
    font-size: 14px;
    color: #fff;
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-joao-web > span {
    margin-top: 10px;
}